<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.studio.recordinglights</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/arampeleschen/Documents/pro-tools-recording-lights/recording_lights_controller.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/arampeleschen/Documents/pro-tools-recording-lights/stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/arampeleschen/Documents/pro-tools-recording-lights/stderr.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/arampeleschen/Documents/pro-tools-recording-lights</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist> 